/* Fonts */
@font-face {
  font-family: 'Outfit-Regular';
  src: url('../fonts/Outfit-Regular.woff2') format('woff2'),
       url('../fonts/Outfit-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit-Medium';
  src: url('../fonts/Outfit-Medium.woff2') format('woff2'),
       url('../fonts/Outfit-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit-SemiBold';
  src: url('../fonts/Outfit-SemiBold.woff2') format('woff2'),
       url('../fonts/Outfit-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Neco-Regular';
  src: url('../fonts/Neco-Regular.woff2') format('woff2'),
       url('../fonts/Neco-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Neco-Medium';
  src: url('../fonts/Neco-Medium.woff2') format('woff2'),
       url('../fonts/Neco-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Neco-Bold';
  src: url('../fonts/Neco-Bold.woff2') format('woff2'),
       url('../fonts/Neco-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* variables */
:root {
    /* site colors */
    --section-bg-color-1: #FDFFE5;
    --section-bg-color-2: #B549B5;
    --text-color-white: #ffffff;
    --text-color-green:#23562E;
    /* site font fmaily */
    --font-family-section-title: 'Outfit-SemiBold', sans-serif;
    --font-family-heading: 'Neco-Regular', sans-serif;
    --font-family-body: 'Outfit-Regular', sans-serif;
    --font-family-button: 'Outfit-Medium', sans-serif;
    --font-family-input: 'Outfit-Regular', sans-serif;
    /* Header */
    --header-bg-color: #FFFFFF;
    --header-menu-color: #23562E;
    --header-menu-font-family: 'Outfit-Regular', sans-serif;
    /* footer */
    --footer-bg-color: #23562E;
    --footer-text-color: #FFFFFF;
    --footer-heading-family: 'Outfit-SemiBold', sans-serif;
    --footer-email-family: 'Neco-Regular', sans-serif;
    --footer-menu-family: 'Outfit-Regular', sans-serif;
    --footer-btn-family: 'Outfit-Medium', sans-serif;


}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* container */
.container {
    max-width:1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}
/******* 
 Header 
********/
header {
    background-color: var(--header-bg-color);
    padding: 30px 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
}
/* logo */
header .logo {
  max-width: 435px;
  width: 100%;
}
header .logo a {
  display: block;
}
header .logo a img {
  display: block;
  width: 100%;
  height: auto;
}
/* menu */
header .main-nav {
  max-width: 530px;
  width:100%;
}
header .main-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .main-nav ul li {
  list-style: none;
}
header .main-nav ul li a {
  text-decoration: none;
  color: var(--header-menu-color);
  font-family: var(--header-menu-font-family);
  font-size: 24px;
}

/*********** 
 hero banner 
************/
.hero-banner {
  display: flex;
  flex-wrap: wrap;
}
.hero-banner .hero-content {
  width: 50%;
  position: relative;
  /* new method */
    /* display: flex;
    align-items: end; */
}
.hero-banner .hero-content img {
  display: block;
  width: 100%;
  height: auto;
  /* new mothed */
    /* position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: 1; */
}
.hero-banner .hero-content .content {
  position: absolute;
  bottom: 6%; /* we can use 60px */
  left: 2%; /* we can use 60px */
  z-index:1;
  padding: 20px;

  /* new mothed */
    /* z-index: 2;
    position: relative;
    padding: 55px; */
}
.hero-banner .hero-content .content h1 {
  font-family: var(--font-family-heading);
  /* font-size: 165px; */
  font-size: clamp(30px, calc(9.5vw - 18px), 165px);
  font-weight: 400;
  /* line-height: 148px; */
  line-height: clamp(60px, 7.71vw, 148px);
  color: var(--text-color-white);
  margin-bottom: 20px;
}
.hero-banner .hero-content .content p {
    font-family: 'Outfit-Regular';
    /* font-size: 24px; */
    font-size: clamp(14px, 1.25vw, 24px);
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 21px;
}
.hero-banner .hero-content .content a.cta-button {
    display: inline-block;
    text-decoration: none;
    font-family: 'Outfit-Regular';
    /* font-size: 24px; */
    font-size: clamp(14px, 1.25vw, 24px);
    line-height: 35px;
    color: #868CF7;
    background-color: #ffffff;
    padding: clamp(10px, 0.8vw, 14px) clamp(18px, 2vw, 34px);
    /* padding: 14px 34px; */
    border-radius: 36px;
}
/* side image hero banner */
.hero-right-img {
  width: 50%;
}
.hero-right-img img {
  display: block;
  width: 100%;
  height: 100%;
}

/************
 About Section 
*************/
.main-about-section {
    background-color: var(--section-bg-color-1);
    color: var(--text-color-green);
    padding: 150px 0;
    position: relative;

}
.main-about-section .main-about-wrapper {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-about-section .content {
    max-width: 730px;
    width: 100%;
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}
.main-about-section img.left-img {
    max-width: 160px;
    width: 100%;
    height: 160px;
    display: block;
    /* position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%); */
}
.main-about-section img.right-img {
    max-width: 160px;
    width: 100%;
    height: 160px;
    display: block;
    /* position: absolute;
    top: 50%;
    right: 21%;
    transform: translate(-21%, -50%); */
}
/************
 Product Section 
*************/
.section-product {
  display: flex;
}
.section-product .left-image {
    width: 50%;
}
.section-product .left-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-product .section-product-details {
    width: 50%;
    position: relative;
}
.section-product .section-product-details .bg-img {
  height: 100%;
}
.section-product .section-product-details img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-product .section-product-details .section-product-info {
    /* max-width: 690px; */
    max-width: min(690px, 71%);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-product .section-product-details .section-product-info img {
    display: block;
    width: 100%;
}
.section-product .section-product-details .price-name {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-family: 'Outfit-Regular';
    /* font-size: 40px;
    line-height: 48px; */
    font-size: clamp(20px, 2.5vw, 40px);
    line-height: clamp(28px, 3vw, 48px);
    font-weight: 400;
    margin-bottom: 23px;
    color: #EBEBEB;
}

/************
 Marquee Section 
*************/
marquee {
    background-color: #FDEA76;
    color: #858CFF;
    padding: 15px 0;
    font-family: var(--font-family-body);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}
marquee span {
    margin: 0 50px;
}
/************
 Our Philosophy Section 
*************/
.our-philosophy {
  padding: 126px 0;
  color: var(--text-color-green);
}
.our-philosophy h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-family-section-title);
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 65px;
}
.our-philosophy .philosophy-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-philosophy .feature-item {
  /* width: 30%; */
  /* max-width: 388px; */
  /* width: 100%; */
  max-width: min(388px, 29.7%);
  text-align: center;
  padding: 0 10px;
}
.our-philosophy .feature-item img {
  /* max-width: 267px; */
  /* width: 100%; */
  max-width: min(267px, 72.6%);
  margin: 0 auto;
  display: block;
  margin-bottom: 24px;
}
.our-philosophy .feature-item h3 {
  font-family: var(--font-family-heading);
  /* font-size: 32px; */
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 8px;
  padding: 0 54px;
}
.our-philosophy .feature-item p {
  font-family: var(--font-family-body);
  /* font-size: 24px; */
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  line-height: 1.3;
}
/************
 Our Resource Section 
*************/
.our-resources .resources-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.our-resources .resources-wrapper .content-wrapper {
    background-color: var(--section-bg-color-2);
    color: var(--text-color-white);
    width: 70%;
}
.our-resources .resources-wrapper .image-wrapper {
    width: 30%;
}
.our-resources .resources-wrapper .image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our-resources .content-wrapper {
    padding: 56px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.our-resources .content-wrapper h2 {
    font-family: var(--font-family-section-title);
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    color: var(--text-color-white);
}
.our-resources .content-wrapper .content-detail {
  max-width: 445px;
  width: 100%;
}
.our-resources .content-wrapper .content-detail h3 {
    font-family: var(--font-family-heading);
    /* font-size: 40px; */
    font-size: clamp(24px, 3vw, 40px);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 9px;

}
.our-resources .content-wrapper .content-detail p {
    font-family: var(--font-family-body);
    /* font-size: 24px; */
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 400;
    line-height: 1.2;
}
.our-resources .content-wrapper .cta-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.our-resources .content-wrapper a {
    /* width: 14%; */
    /* display: inline-block; */
    text-decoration: none;
    font-family: var(--font-family-button);
    font-size: clamp(18px, 2vw, 24px);
    line-height: 1.4;
    color: var(--text-color-green);
    background-color: var(--text-color-white);
    /* padding: 14px 34px; */
    padding:  clamp(7px, 2vw, 14px) clamp(18px, 2vw, 34px);
    border-radius: 36px;
}

/************
 Our Story Section 
*************/
.our-story {
    background-color: var(--section-bg-color-1);
    color: var(--text-color-green);
    padding: 95px 0;
    position: relative;
}
.our-story .our-story-wrapper {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.our-story .image-area {
  width: 60%;
  display: flex;
  justify-content: center;
}
.our-story .image-area img {
  display: block;
  max-width: min(546px, 79%);
  /* max-width: 546px; */
  width: 100%;
  height: auto;
}
.our-story .our-story-wrapper .our-story-right-img {
  position: absolute;
  top: 15%;
  right: 40%;
  transform: translate(-15%, -30%);
  /* width: 138px; */
  width: min(138px, 12%);
}
.our-story .our-story-wrapper .our-story-left-img {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translate(-75%, -30%);
  width: min(138px, 12%);
  /* width: 138px; */
}
.our-story .content-area {
  width: 40%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-story .content-area h2 {
    font-family: var(--font-family-section-title);
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.our-story .content-area h3 {
    font-family: var(--font-family-heading);
    font-size: clamp(24px, 3vw, 40px);
    line-height: 1.2;
    /* font-size: 40px; */
    /* line-height: 44px; */
    font-weight: 400;
    margin-bottom: 17px;
}
.our-story .content-area p {
    font-family: var(--font-family-body);
    font-size: clamp(18px, 2vw, 24px);
    line-height: 1.2;
    /* font-size: 24px; */
    /* line-height: 30px; */
    font-weight: 400;
    margin-bottom: 32px;
}
.our-story .content-area a {
    width: 50%;
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-family-button);
    color: var(--text-color-white);
    background-color: var(--text-color-green);
    padding: clamp(7px, 2vw, 14px) clamp(18px, 2vw, 34px);
    font-size: clamp(18px, 2vw, 24px);
    line-height: 1.4;
    text-align: center;
    /* font-size: 24px;
    line-height: 35px; */
    /* padding: 14px 34px; */
    border-radius: 36px;
}
/************
 Our Blog Section 
*************/
.our-blog {
    padding: 95px 0;
    color: var(--text-color-green);
    position: relative;
}
.our-blog h2 {
    position: absolute;
    top: -20px;
    left: 20px;
    transform: translate(20%, 0%);
}
.our-blog .blog-wrapper {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.our-blog .blog-wrapper .blog-items {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}
.our-blog .blog-wrapper .blog-item {
    max-width: 540px;
    background: #fff;
    border-radius: 12px;
    /* padding: 15px; */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex-shrink: 0;
    transition: 0.3s;
}
.our-blog .blog-wrapper .blog-item:hover {
    transform: translateY(-5px);
}
.our-blog .blog-wrapper .blog-item h3 {
    font-family: var(--font-family-heading);
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
}
.our-blog .blog-wrapper .blog-item p {
    font-family: 'Outfit-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.our-blog .blog-wrapper .blog-item img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
/* scroll buttons */
.slider-controls {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}
.slider-controls button {
    padding: 10px 15px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

/************
 instagram feed Section 
*************/
.instagram-feed {

}
.instagram-feed  .insta-feed-wrapper {
    display: flex;
    gap: 10px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.instagram-feed .insta-img {
    max-width: 267px;
    width:100%;
    flex-shrink: 0;
}
.instagram-feed .insta-feed-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}
/*********************************************************************
                              About PAge 
**********************************************************************/
/************
 main Content Section 
*************/
.about-container {
    max-width: 1045px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.main-content {
    padding: 105px 0 50px 0;
    background-color: #FDFFE5;
    color: var(--text-color-green);
}
.main-content h1 {
  text-align: center;
  font-family: var(--font-family-section-title);
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.main-content h3 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 16px;
}
.main-content p {
  text-align: center;
  font-family: var(--font-family-body);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  padding: 0 25px;
}
/************
 image Content Section 
*************/
.image-content__wrapper{
    max-width: 1474px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 52px; */
}
.image-content {
  padding: 50px 0;
  background-color: #FDFFE5;
  color: var(--text-color-green);
}
.image-content .about-image {
  width: 40%;
  position: relative;
}
.image-content .about-image .main-img {
  display: block;
  width: 100%;
  height: auto;
  padding: 80px 50px;
}
.image-content .about-image .left-icon-img {
  position: absolute;
  top: 20%;
  left: -2%;
  transform: translate(-4%, -20%);
  width: 138px;
}
.image-content .about-image .right-icon-img {
  position: absolute;
  top: 60%;
  right: -6%;
  transform: translate(-6%, -10%);
  width: 138px;
}
.image-content .right-content {
  width: 60%;
  padding: 0 70px;
}
.image-content .right-content p {
    font-family: 'Outfit-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/************
 main Content Section 
*************/
.contact-us-container {
    max-width: 1045px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.contact-us {
    padding: 100px 0 50px 0;
    background-color: #FDFFE5;
    color: var(--text-color-green);
}
.contact-us h1 {
  text-align: center;
  font-family: var(--font-family-section-title);
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.contact-us h3 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 16px;
}
.contact-us p {
  text-align: center;
  font-family: var(--font-family-body);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  padding: 0 2px;
}
/************
 Form Section 
*************/
.contact-form {
  padding: 20px 0 134px 0;
  background-color: #FDFFE5;
  color: var(--text-color-green);
}
.contact-form form {
  max-width: 1474px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-form .input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.contact-form .input-group input {
  width: 100%;
}
.contact-form input {
  padding: 24px 28px;
  border: 1px solid #23562E;
  background-color: #FDFFE5;
  outline: none;
  font-family: 'Outfit-Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contact-form input[type="tel"] {
  margin-bottom: 20px;
}
.contact-form textarea {
  padding: 24px 28px;
  background-color: #FDFFE5;
  border: 1px solid #23562E;
  min-height: 300px;
  resize: none;
  outline: none;
  font-family: 'Outfit-Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 5px #23562E;
  transition: 0.3s;
}
.contact-form button{
    max-width: 210px;
    width: 100%;
    padding: 14px 24px;
    border-radius: 10px;
    background-color: #23562E;
    border: none;
    color: #fff;
    font-family: 'Outfit-Regular';
    font-size: 24px;
    font-weight: 500;
}
/*********************************************************************
                              Product Page 
**********************************************************************/
/************
 product page Section 
*************/
.product-details {
  width: 100%;
}
.product-details .product-details__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-details .product-image {
    width: 70%;
}
.product-details .product-image img {
    display: block;
    width: 100%;
    height: auto;
}
.product-details .product-info {
    width: 30%;
    padding: 92px 54px;
    background-color: var(--section-bg-color-1);
    color: var(--text-color-green);
}
.product-details .product-info h1 {
    font-family: 'Neco-Regular';
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 12px;
}
.product-details .product-info p {
    font-family: 'Outfit-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}
.product-details .action-btn {
    width: 100%;
}
.product-details .action-btn button.add-to-cart-btn {
    background-color: #23562E;
    color: #ffffff;
    font-family: 'Outfit-SemiBold';
    font-size: 20px;
    font-weight: 500;
    padding: 15px 124px;
    margin-bottom: 38px;
    border-radius: 36px;
    outline: none;
    border: none;
}
.product-details .product-info p {
    font-family: 'Outfit-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}
/*********************************************************************
                              Blog Page 
**********************************************************************/
/************
 blog page Section 
*************/
.our-blog-page {
  background-color: var(--section-bg-color-1);
  color: var(--text-color-green);
  padding: 105px 0 125px 0;
}
.blog-container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.our-blog-page .blog-page-info {
  text-align: center;
}
.our-blog-page .blog-page-info h2 {
  font-family: var(--footer-heading-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 20px;
}
.our-blog-page .blog-page-info p {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-family-heading);
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  margin-bottom: 60px;
}
.our-blog-page .blog-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 20px;
}
.our-blog-page .blog-posts .blog-post {
  max-width: 540px;
  width: 100%;
}
.our-blog-page .blog-posts .blog-post img {
    display: block;
    width: 100%;
    height: auto;
}
.our-blog-page .blog-posts .blog-post h3 {
    font-family: var(--font-family-heading);
    font-size: 32px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 10px;
}
.our-blog-page .blog-posts .blog-post p {
    font-family: 'Outfit-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
/*********************************************************************
                              Blog Details Page 
**********************************************************************/
/************
 blog Header Section 
*************/
.blog-detail-header {
    max-width: 1920px;
    width: 100%;
    /* min-height: 818px; */
    position: relative;
}
.blog-detail-header img {
    display: block;
    width: 100%;
    height: auto;
}
.blog-detail-header .blog-detail-heading {
    max-width: 776px;
    width: 100%;
    padding: 54px 83px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--text-color-green);
    background-color: var(--section-bg-color-1);
}
.blog-detail-header .blog-detail-heading h1 {
    font-family: var(--font-family-heading);
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
}
/************
Blog Detail Content Section 
*************/
section.blog-detail-content {
    background-color: var(--section-bg-color-1);
    padding: 85px 0 200px 0;
}
section.blog-detail-content .blog-detail-content__wrapper {
    max-width: 1142px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
section.blog-detail-content .content{
  margin-bottom: 20px;
  color: var(--text-color-green);
  font-weight: 400;
  line-height: 30px;
}
section.blog-detail-content .content p {
  font-family: var(--font-family-body);
  font-size: 24px;
}
section.blog-detail-content .content h2 {
  font-family: var(--font-family-heading);
  font-size: 40px;
}
/************
 Footer Section 
*************/
footer {
    background-color: var(--text-color-green);
    padding: 58px 0;
    color: var(--footer-text-color);
}
footer .footer-container {
    max-width: 1786px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
footer .newsletter h3 {
    font-family: var(--footer-heading-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
footer form {
    border-bottom: 1px solid #ffffff;
    display: flex;
    padding: 20px 0;
    margin-bottom: 20px;
}
footer form input[type="email"] {
    max-width: 1574px;
    width: 100%;
    border: none;
    font-family: var(--footer-email-family);
    font-size: 40px;
    background-color: transparent;
}
footer form input[type="email"]::placeholder {
    color: var(--footer-text-color);
}
footer form button {
    max-width: 172px;
    width: 100%;
    border-radius: 36px;
    padding: 14px 34px;
    border: none;
    background-color: var(--text-color-white);
    color: var(--text-color-green);
    font-family: var(--footer-btn-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    cursor: pointer;
}

footer .footer-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 22px;
}
footer .footer-nav .menu {
    display: flex;
    gap: 70px;
}
footer .footer-nav .menu ul li {
    list-style: none;
}
footer .footer-nav .menu ul li a {
    text-decoration: none;
    color: var(--footer-text-color);
    font-family: var(--footer-menu-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}
footer .footer-logo {
    max-width: 230px;
    width: 100%;
    margin: 70px 0 30px 0;
}
footer .footer-logo img {
    display: block;
    width: 100%;
    height: auto;
}
footer .footer-policy {
    display: flex;
    gap: 40px;
}
footer .footer-policy  p {
    font-family: 'Outfit-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
footer .footer-policy a{
    text-decoration: none;
    color: #ffffff;
}

/* Media Queery */

@media (max-width: 1024px) {
  /* Hero Banner  */
    .hero-banner {
      flex-direction: column;
    }
    .hero-right-img {
        width: 100%;
        height: 500px;
    }
    .hero-banner .hero-content {
        width: 100%;
        height: 500px;
    }
    .hero-right-img {
        width: 100%;
    }
    .hero-banner .hero-content img {
        height: 100%;
    }
    .hero-banner .hero-content .content h1 {
        font-size: 80px;
        line-height: 90px;
    }
    .hero-banner .hero-content .content p {
        font-size: 24px;
    }
    /* main about page */
    .main-about-section .main-about-wrapper {
        flex-direction: column;
    }
    /* Our Philosophy Section */
    .our-philosophy .philosophy-feature {
        justify-content: center;
        gap: 40px;
    }
    .our-philosophy .feature-item {
        max-width: 388px;
    }
    /* Resources Section */
    .our-resources .resources-wrapper {
        flex-direction: column;
    }
    .our-resources .resources-wrapper .content-wrapper {
        width: 100%;
    }
    .our-resources .resources-wrapper .image-wrapper {
        width: 100%;
        height: 364px;
    }
  }
  @media(max-width:720px) {
    /* Hero Banner Section */
    .hero-banner .hero-content {
        height: unset
    }
    .hero-right-img {
      height: unset;
    }
    /* main about page */
    .main-about-section {
       padding: 80px 0;
    }
    .main-about-section img.left-img {
      max-width: 120px;
      height: 120px;
    }  
    .main-about-section img.right-img {
      max-width: 120px;
      height: 120px;
    }
    /* Product section in index page */
    .section-product {
      display: flex;
      flex-direction: column;
    }
    .section-product .left-image,
    .section-product .section-product-details {
      width: 100%;
    }
    /* Our Story Section */
    .our-story .content-area a {
      width: unset;
    }
    .our-story .image-area {
      width: 100%;
    }
    .our-story .content-area {
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
    }
    .our-story .our-story-wrapper .our-story-right-img {
      top: 5%;
      right: 5%;
      transform: unset;
    }
    .our-story .our-story-wrapper .our-story-left-img {
        top: 53%;
        left: 5%;
        transform: unset;
    }
    /* footer */
    footer .newsletter h3 {
        font-size: 20px;
    }
    footer form {
      padding: 10px 0;
    }
    footer form input[type="email"] {
      font-size: 30px;
      line-height: 1.2;
    }
    footer form button {
      max-width: unset;
      width: unset;
      padding: 8px 25px;
      font-size: 20px;
      line-height: 1.2;
    }
    footer .footer-nav .menu {
        gap: 50px;
    }
    footer .footer-nav .menu ul li a {
        font-size: 20px;
        line-height: 1.3;
    }
    footer .footer-logo {
        max-width: 160px;
        margin: 50px 0 20px 0;
    }
    footer .footer-policy {
        gap: unset;
        justify-content: space-between;
    }
    footer .footer-policy p {
        font-size: 20px;
    }
  }
  @media (max-width: 512px) {
      .hero-banner .hero-content .content h1 {
          font-size: 56px;
          line-height: 60px;
      }
      .hero-banner .hero-content .content p {
          font-size: 20px;
      }
      /* resource section */
      .our-resources .resources-wrapper .content-wrapper {
          text-align: center;
      }
      .our-resources .content-wrapper .content-detail {
          margin: 20px 0;
      }
      .our-resources .content-wrapper .cta-button {
          justify-content: center;
      }
      /* our story */
      .our-story .our-story-wrapper .our-story-left-img,
      .our-story .our-story-wrapper .our-story-right-img {
        display: none;
      }
      /* footer */
      footer form input[type="email"] {
        font-size: 22px;
      }
      footer form button {
        padding: 8px 18px;
        font-size: 18px;
      }
      footer .footer-nav .menu {
          gap: 30px;
      }
      footer .footer-nav .menu ul li a {
          font-size: 18px;
      }
      footer .footer-logo {
          max-width: 100px;
          margin: 30px 0 10px 0;
      }
      footer .footer-policy p {
          font-size: 18px;
      }
  }
  @media (max-width: 380px) {
      .hero-banner .hero-content .content h1 {
          font-size: 42px;
          line-height: 46px;
      }
      .hero-banner .hero-content .content p {
          font-size: 18px;
          line-height: 25px;

      }
      /* footer */
      footer .footer-nav {
        flex-direction:column;
      }
      footer .footer-nav .menu { 
        justify-content: space-between;
      }
  }